body{
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 20px;
}
img {
    max-width: 100%;
    height: auto;
}

.hidden{
    display: none!important;
}

section{
    position: relative;
    z-index: 1;
}

button{
    padding: 5px;
    box-sizing: border-box;
    background: #eee;
    border: none;
}

.root{
    position: relative;
    z-index: 1;
}



.grid{

    width: 100vw;
    height: 100vh;

    background: url('../images/grid.png');
    background-size: 400px;
    /* background-size: contain; */
    position: absolute;
    left: 0px;
    top: 0px;

    z-index: 0;
    opacity: 0.4;
}
/*
    Page
*/

.page{
    width: 100vw;
    height: 100vh;
    background: #f6de89;
    position: fixed;
    top: 0px;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: 700;
    opacity: 0.8;
}

.page.move{
    background: green;
}

.page.menu{
    background: #414141;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    box-sizing: border-box;
    padding: 20px 20%;
}
.page.menu ul{
    padding: 0px;
}
.page.menu a{
    color: white;
    text-decoration: none;
}
.page.menu a:hover{
    color: red;
}
/*
    Slider
*/

.slider{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    position: relative;
}

.slider__wrapper{
    display: flex;
    position: relative;
    z-index: 2;
}

.slider__row{
    display: flex;
    transform: translateX(0px);
    transition: 0.3s;
}

.slider__item{
    min-width: 100%;
}

.slider__navigation{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.slider__nav{
    position: absolute;
    top: 30%;

    background: #eee;
    padding: 5px 10px;
    box-sizing: border-box;

    z-index: 3;
}
.slider__nav.next{
    right: 0px;
}
.slider__nav.prev{
    left: 0px;
}


.navigation{
    width: 100%;
    background: #fff;

    padding: 5px 20px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
}